:root {
    --color-dark-blue: #3D5B6C;
    --color-light-blue: #5B8EAB;
    --color-dark-green: #75C8CD;
    --color-light-green: #75CD9E;
    --color-orange: #E2A03B;
    --color-yellow: #D3CD3B;

    --color-text-1: #212429;
    --color-text-2: #495057;
    --color-text-3: #ACB5BD;
    --color-text-4: #DDE2E5;
    --color-text-5: #F8F9FA;

    --color-forward: var(--color-text-2);

    --header-margin: 2px;
    --header-text-color: var(--color-forward);
    --header-background-color: transparent;

    --header-name-h1-font-size: 48px;
    --header-name-h1-weight: 1000;

    --header-name-p-font-size: 16px;
    --header-name-p-margin: 0em 0em 0em 7em;

    --panel-margin: 5px;
    --panel-radius: 1.5em;
    --panel-min-height: 180px;

    --panel-text-color: oldlace;

    --panel-h1-margin: 40px 0px 0px 40px;
    --panel-h1-font-size: 32px;

    --panel-p-margin: 0px 0px 0px 40px;
    --panel-p-font-size: 18px;

    --font-family: 'Roboto', sans-serif;

    --menu-text-color: var(--color-forward);
    --menu-border-color: transparent;
    --menu-background-color: transparent;

    --menu-item-a-font-size: 14px;
    --menu-item-a-margin: 12px 0px 0px 0px;
    --menu-item-i-font-size: xx-large;


    --experience-panel-background-color: var(--color-text-3);
    --patent-panel-background-color: var(--color-dark-blue);
    --zestful-panel-background-color: var(--color-dark-green);
    --oc-panel-background-color: var(--color-light-green);
    --software-skills-background-color: var(--color-orange);
    --product-development-background-color: var(--color-yellow);

    --panel-social-media-background-color: transparent;
    --panel-social-media-text-color: var(--color-forward);
    --panel-social-media-font-size: xx-large;
}

body {
    font-family: var(--font-family);
}

#header-container {
    display: grid;
    width: 100%; 
    height: 150px;
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: 3fr 1fr;
    color: var(--header-text-color);
}

#name {
    grid-area: 1 / 1 / 1 / 3;
    background-color: var(--header-background-color);
    margin: var(--header-margin);
}

#name > h1 {
    font-size: var(--header-name-h1-font-size);
    font-weight: var(--header-name-h1-weight);
    margin: 1em 0em 0em 1em;
    display: inline
}

#name > p {
    font-family: var(--font-family);
    font-size: var(--header-name-p-font-size);
    margin: var(--header-name-p-margin);
}

#navigation {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: var(--header-margin);
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--menu-text-color);

    border: var(--menu-border-color);
    border-width: 2px;
    border-style: solid;
    background-color: var(--menu-background-color);
}

.menu-item > a {
    margin: 12px 0px 0px 0px;
    text-decoration: none;
    font-size: 14px;
    color: var(--menu-text-color);
}

.menu-item > i {
    font-size: var(--menu-item-i-font-size);
}

#menu-1 {
    grid-area: 1 / 3 / 1 / 4;
}


#menu-2 {
    grid-area: 1 / 4 / 1 / 5;
}


/**** Homework 18 Elements ****/

#panelsGridContainer {
    display: grid;
    width: 100%; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 100px;
    color: var(--panel-text-color);
}

.panel {
    border-radius: var(--panel-radius);
    margin: var(--panel-margin); 
    min-height: var(--panel-min-height);
}

.panel > h1 {
    margin: var(--panel-h1-margin);
    font-size: var(--panel-h1-font-size);
}

.panel > p {
    margin: var(--panel-p-margin);
    font-size: var(--panel-p-font-size);
}

#experience {
    grid-area: 1 / 1 / 1 / 4;
    background-color: var(--experience-panel-background-color);
}

#patent {
    grid-area: 1 / 4 / 1 / 7;
    background-color: var(--patent-panel-background-color);
}

#zestful {
    grid-area: 2 / 1 / 2 / 7;
    background-color: var(--zestful-panel-background-color);
}

#oc {
    grid-area: 3 / 1 / 3 / 5;
    background-color: var(--oc-panel-background-color);
}

#software-skills {
    grid-area: 3/ 5 / 3 / 7;
    background-color: var(--software-skills-background-color);
}

#product-development {
    grid-area: 4/ 1 / 4 / 7;
    background-color: var(--product-development-background-color);
}

#social-media {
    grid-area: 5/ 2 / 5 / 6;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--panel-social-media-background-color);
    color: var(--panel-social-media-text-color);
    border-radius: 0px;
    min-height: 0px;
}

#social-media > i {
    font-size: var(--panel-social-media-font-size);
}

@media screen and (max-width: 600px) {
    :root {
        --header-name-h1-font-size: 36px;
        --header-name-h1-weight: 1000;

        --header-name-p-font-size: 14px;
        --header-name-p-margin: 0em 0em 0em 4em;

        --menu-item-a-font-size: 12px;
        --menu-item-a-margin: 10px 0px 0px 0px;
        --menu-item-i-font-size: x-large;

        --panel-h1-font-size: 28px;
        --panel-p-font-size: 18px;

        --panel-social-media-font-size: x-large;
    }

    #header-container {
        height: 100px;
    }

    body {
        background-color: var(--color-light-blue);
    }

    .menu-item > a {
        display: none;
    }

    #panelsGridContainer {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 100px;
        color: var(--panel-text-color);
    }

    #experience {
        grid-area: 1 / 1 / 1 / 7;
        background-color: var(--experience-panel-background-color);
    }
    
    #patent {
        grid-area: 2 / 1 / 2 / 7;
        background-color: var(--patent-panel-background-color);
    }
    
    #zestful {
        grid-area: 3 / 1 / 3 / 7;
        background-color: var(--zestful-panel-background-color);
    }
    
    #oc {
        grid-area: 4 / 1 / 4 / 7;
        background-color: var(--oc-panel-background-color);
    }
    
    #software-skills {
        grid-area: 5/ 1 / 5 / 7;
        background-color: var(--software-skills-background-color);
    }
    
    #product-development {
        grid-area: 6/ 1 / 6 / 7;
        background-color: var(--product-development-background-color);
    }
    
    #social-media {
        grid-area: 7/ 2 / 7 / 6;
    }

    #social-media > i {
        font-size: x-large;
    }
}